.LoginHeader {
  position: relative;
}
.loginAll{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: -63px;
}
.loginLeft {
  /* position: absolute;
  left: 220px;
  top: 50px; */
  width: 35%;
}
.loginLeft input {
  display: block;
  width: 396px;
  color: white;
  height: 60px;
  left: 0px;
  top: 0px;
  transform: rotate(-0.4deg);
  background: rgba(255, 255, 255, 1);
  border-radius: 12px;
  margin-top: 40px;
  color: black;
  padding-left: 20px;
  font-size: 18px;
  outline: none;
  border: 1px solid #5367e7;
  cursor: pointer;
}
.loginLeft input::placeholder {
  color: rgba(136, 136, 136, 1);
}

.loginLeft p {
  font-weight: 400;
  font-size: 20px;
  line-height: 24.38px;
  margin-top: 15px;
}
.loginLeft button {
  font-weight: 600;
  font-size: 20px;
  line-height: 24.38px;
  border-radius: 12px;
  margin-top: 50px;
  border: none;
  outline: none;
  background: #ffcf00;
  width: 217px;
  height: 54px;
}
.loginLeft h6 {
  text-align: end;
  width: 395px;
  margin-top: 10px;
  text-decoration: none;
  height: 22px;
  left: calc(50% - -108px / 2 + 18px);
  top: calc(50% - -230px / 2 + 0.5px);
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 136%;
  letter-spacing: 0.005em;
  color: #060606;
}

.loginRight {
  /* position: absolute;
  left: 752px;
  top: -90px; */
  width: 40%;
}

.h2Edit {
  font-weight: 700;
  font-size: 70px;
  line-height: 85.33px;
}

.icons {
  position: absolute;
  left: 560px;
  top: 385px;
  color: black;
}
.LoginHeader a {
  text-decoration: none;
}
